<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="world.xuewei.dao.ReportMapper">

    <!--report的映射结果集-->
    <resultMap type="world.xuewei.entity.Report" id="ReportMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="reporterNo" column="reporter_no" jdbcType="VARCHAR"/>
        <result property="reporterInfo" column="reporter_info" jdbcType="VARCHAR"/>
        <result property="info" column="info" jdbcType="VARCHAR"/>
        <result property="attachment" column="attachment" jdbcType="VARCHAR"/>
        <result property="reportFile" column="report_file" jdbcType="VARCHAR"/>
        <result property="publishTime" column="publish_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="checkInfo1" column="check_info1" jdbcType="VARCHAR"/>
        <result property="checkInfo2" column="check_info2" jdbcType="VARCHAR"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id
    , title, reporter_no, reporter_info, info, attachment,report_file, publish_time, status, check_info1, check_info2 </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="title != null and title != ''">
            title,
        </if>
        <if test="reporterNo != null and reporterNo != ''">
            reporter_no,
        </if>
        <if test="reporterInfo != null and reporterInfo != ''">
            reporter_info,
        </if>
        <if test="info != null and info != ''">
            info,
        </if>
        <if test="attachment != null and attachment != ''">
            attachment,
        </if>
        <if test="reportFile != null and reportFile != ''">
            report_file,
        </if>
        <if test="publishTime != null">
            publish_time,
        </if>
        <if test="status != null">
            status,
        </if>
        <if test="checkInfo1 != null and checkInfo1 != ''">
            check_info1,
        </if>
        <if test="checkInfo2 != null and checkInfo2 != ''">
            check_info2,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="title != null and title != ''">
            #{title},
        </if>
        <if test="reporterNo != null and reporterNo != ''">
            #{reporterNo},
        </if>
        <if test="reporterInfo != null and reporterInfo != ''">
            #{reporterInfo},
        </if>
        <if test="info != null and info != ''">
            #{info},
        </if>
        <if test="attachment != null and attachment != ''">
            #{attachment},
        </if>
        <if test="reportFile != null and reportFile != ''">
            #{reportFile},
        </if>
        <if test="publishTime != null">
            #{publishTime},
        </if>
        <if test="status != null">
            #{status},
        </if>
        <if test="checkInfo1 != null and checkInfo1 != ''">
            #{checkInfo1},
        </if>
        <if test="checkInfo2 != null and checkInfo2 != ''">
            #{checkInfo2},
        </if>
    </sql>

    <!--通用对Report各个属性的值的非空判断，Insert、Update使用-->
    <sql id="commonsValue">
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="reporterNo != null and reporterNo != ''">
            reporter_no = #{reporterNo},
        </if>
        <if test="reporterInfo != null and reporterInfo != ''">
            reporter_info = #{reporterInfo},
        </if>
        <if test="info != null and info != ''">
            info = #{info},
        </if>
        <if test="attachment != null and attachment != ''">
            attachment = #{attachment},
        </if>
        <if test="reportFile != null and reportFile != ''">
            report_file = #{reportFile},
        </if>
        <if test="publishTime != null">
            publish_time = #{publishTime},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        <if test="checkInfo1 != null and checkInfo1 != ''">
            check_info1 = #{checkInfo1},
        </if>
        <if test="checkInfo2 != null and checkInfo2 != ''">
            check_info2 = #{checkInfo2},
        </if>
    </sql>

    <!--通用对Report各个属性的值的非空判断,Where查询使用-->
    <sql id="commonsQuery">
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="reporterNo != null and reporterNo != ''">
            and reporter_no = #{reporterNo}
        </if>
        <if test="reporterInfo != null and reporterInfo != ''">
            and reporter_info = #{reporterInfo}
        </if>
        <if test="info != null and info != ''">
            and info = #{info}
        </if>
        <if test="attachment != null and attachment != ''">
            and attachment = #{attachment}
        </if>
        <if test="reportFile != null and reportFile != ''">
            and report_file = #{reportFile}
        </if>
        <if test="publishTime != null">
            and publish_time = #{publishTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="checkInfo1 != null and checkInfo1 != ''">
            and check_info1 = #{checkInfo1}
        </if>
        <if test="checkInfo2 != null and checkInfo2 != ''">
            and check_info2 = #{checkInfo2}
        </if>
    </sql>

    <!--新增report:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--删除report:通过主键-->
    <delete id="deleteById">
        delete from report
        <where>
            id = #{id}
        </where>
    </delete>

    <!--查询单个report-->
    <select id="getById" resultMap="ReportMap">
        select
        <include refid="allColumn"></include>
        from report
        <where>
            id = #{id}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="listReports" resultMap="ReportMap">
        select
        <include refid="allColumn"></include>
        from report
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件获取结果数量-->
    <select id="countReports" resultType="java.lang.Integer">
        select
        count(*)
        from report
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--根据学院ID获取报告-->
    <select id="listReportsByCollegeId" resultMap="ReportMap">
        SELECT report.id id,
               title,
               reporter_no,
               reporter_info,
               info,
               attachment,
               report_file,
               publish_time,
               status,
               check_info1,
               check_info2
        FROM report
                 LEFT JOIN teacher on reporter_no = teacher.no
        WHERE teacher.college_id = ${id}
          and status = ${status}
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update report
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>