<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="world.xuewei.dao.StudentMapper">

    <!--student的映射结果集-->
    <resultMap type="world.xuewei.entity.Student" id="StudentMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="no" column="no" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
        <result property="grade" column="grade" jdbcType="INTEGER"/>
        <result property="major" column="major" jdbcType="VARCHAR"/>
        <result property="classInfo" column="class_info" jdbcType="VARCHAR"/>
        <result property="collegeId" column="college_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--全部字段-->
    <sql id="allColumn"> id
    , no, name, password, email, phone, sex, birthday, grade, major, class_info, college_id </sql>

    <!--添加语句的字段列表-->
    <sql id="insertColumn">
        <if test="no != null and no != ''">
            no,
        </if>
        <if test="name != null and name != ''">
            name,
        </if>
        <if test="password != null and password != ''">
            password,
        </if>
        <if test="email != null and email != ''">
            email,
        </if>
        <if test="phone != null and phone != ''">
            phone,
        </if>
        <if test="sex != null and sex != ''">
            sex,
        </if>
        <if test="birthday != null">
            birthday,
        </if>
        <if test="grade != null">
            grade,
        </if>
        <if test="major != null and major != ''">
            major,
        </if>
        <if test="classInfo != null and classInfo != ''">
            class_info,
        </if>
        <if test="collegeId != null">
            college_id,
        </if>
    </sql>

    <!--添加语句的值列表-->
    <sql id="insertValue">
        <if test="no != null and no != ''">
            #{no},
        </if>
        <if test="name != null and name != ''">
            #{name},
        </if>
        <if test="password != null and password != ''">
            #{password},
        </if>
        <if test="email != null and email != ''">
            #{email},
        </if>
        <if test="phone != null and phone != ''">
            #{phone},
        </if>
        <if test="sex != null and sex != ''">
            #{sex},
        </if>
        <if test="birthday != null">
            #{birthday},
        </if>
        <if test="grade != null">
            #{grade},
        </if>
        <if test="major != null and major != ''">
            #{major},
        </if>
        <if test="classInfo != null and classInfo != ''">
            #{classInfo},
        </if>
        <if test="collegeId != null">
            #{collegeId},
        </if>
    </sql>

    <!--通用对Student各个属性的值的非空判断，Insert、Update使用-->
    <sql id="commonsValue">
        <if test="no != null and no != ''">
            no = #{no},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="email != null and email != ''">
            email = #{email},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="sex != null and sex != ''">
            sex = #{sex},
        </if>
        <if test="birthday != null">
            birthday = #{birthday},
        </if>
        <if test="grade != null">
            grade = #{grade},
        </if>
        <if test="major != null and major != ''">
            major = #{major},
        </if>
        <if test="classInfo != null and classInfo != ''">
            class_info = #{classInfo},
        </if>
        <if test="collegeId != null">
            college_id = #{collegeId},
        </if>
    </sql>

    <!--通用对Student各个属性的值的非空判断,Where查询使用-->
    <sql id="commonsQuery">
        <if test="no != null and no != ''">
            and no = #{no}
        </if>
        <if test="name != null and name != ''">
            and name = #{name}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
        <if test="email != null and email != ''">
            and email = #{email}
        </if>
        <if test="phone != null and phone != ''">
            and phone = #{phone}
        </if>
        <if test="sex != null and sex != ''">
            and sex = #{sex}
        </if>
        <if test="birthday != null">
            and birthday = #{birthday}
        </if>
        <if test="grade != null">
            and grade = #{grade}
        </if>
        <if test="major != null and major != ''">
            and major = #{major}
        </if>
        <if test="classInfo != null and classInfo != ''">
            and class_info = #{classInfo}
        </if>
        <if test="collegeId != null">
            and college_id = #{collegeId}
        </if>
    </sql>

    <!--新增student:哪个字段不为空就添加哪列数据,返回自增主键-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="insertColumn"/>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="insertValue"/>
        </trim>
    </insert>

    <!--删除student:通过主键-->
    <delete id="deleteById">
        delete from student
        <where>
            id = #{id}
        </where>
    </delete>

    <!--查询单个student-->
    <select id="getById" resultMap="StudentMap">
        select
        <include refid="allColumn"></include>
        from student
        <where>
            id = #{id}
        </where>
    </select>

    <!--查询单个student-->
    <select id="getByNo" resultMap="StudentMap">
        select
        <include refid="allColumn"></include>
        from student
        <where>
            no = #{no}
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="listStudents" resultMap="StudentMap">
        select
        <include refid="allColumn"></include>
        from student
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--通过实体作为筛选条件获取结果数量-->
    <select id="countStudents" resultType="java.lang.Integer">
        select
        count(*)
        from student
        <trim prefix="where" prefixOverrides="and" suffixOverrides=",">
            <include refid="commonsQuery"></include>
        </trim>
    </select>

    <!--通过主键修改数据-->
    <update id="update">
        update student
        <set>
            <include refid="commonsValue"></include>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

</mapper>